<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand text-white fw-semibold fs-4">Dubai Travel Guide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link text-white">Home</a>
                </li>
            </ul>
            <app-search-box *ngIf="!isLoggedIn"></app-search-box>
            <button class="btn text-white" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>