<div class="mt-4 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-white login border-0">
          <div class="card-body p-5">
      
            <form [formGroup]="loginForm" class="mb-3 mt-md-4" (ngSubmit)="onSubmit()">

              <h2 class="fw-bold mb-2">Admin Login</h2>
              <p class=" mb-5">Please enter your login credentials!</p>
          
              <div class="mb-3">
                <input class="form-control" 
                  id="username" 
                  type="text" 
                  formControlName="username" 
                  autocomplete="firstname" 
                  placeholder="username">
              </div>
              
              <div class="mb-4">
                <input class="form-control" 
                  id="password" 
                  type="password" 
                  formControlName="password" 
                  autocomplete="current-password" 
                  placeholder="password">
              </div>
        
              <div class="d-grid">
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-outline-dark">
                  <i class="bi bi-lock"></i> Login
                </button>
              </div>
          
            </form>

            <div *ngIf="isFieldInvalid('username')">
              <span class="mt-2 text-danger">{{errorMessage}}</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
