.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccd0d4;
}

form {
    display: block;
    margin-top: 0em;
}