<app-spinner [isLoading]="isLoading"></app-spinner>
<form [formGroup]="updateForm" (ngSubmit)="updateLandmark()">
    <div class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2">
                <div class="col-md-6">
                    <a (click)="goToLink(landmarkInfo.photo)">
                        <img class="img-fluid" src="{{landmarkInfo.photo_thumb}}" alt="..." />
                    </a>
                </div>
                <div class="col-md-6">
                    <h2 class="display-5 fw-bold">{{landmarkInfo.title}}</h2>
                    <textarea 
                        *ngIf="hasWritePermissions"
                        [readonly]="!hasWritePermissions" 
                        class="form-control-plaintext"
                        formControlName="short_info"
                        value="{{landmarkInfo.short_info}}" rows="4">
                    </textarea>
                    <p *ngIf="!hasWritePermissions" class="text-sm">{{landmarkInfo.short_info}} 
                        <a href="{{landmarkInfo.url}}" target="_blank" class="text-decoration-none text-primary">more...</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container px-4">
            <div class="row gx-4 gx-lg-5 row-cols-1">
                <p *ngIf="!hasWritePermissions">{{landmarkInfo.description}}</p>
                <textarea 
                    *ngIf="hasWritePermissions" 
                    [readonly]="!hasWritePermissions" 
                    class="form-control-plaintext"
                    formControlName="description" 
                    value="{{landmarkInfo.description}}" rows="8">
                </textarea>
            </div>
        </div>
    </div>
    <div class="py-5" *ngIf="hasWritePermissions">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>